# Assignment-1

# Question 1

In [1]:
#Q1.List and its Default function

In [1]:
#1 function -> len()
lst=["Tejal","Warbhog","letsupgrade",2.5,6.7,[1,9.4]]

In [2]:
lst

['Tejal', 'Warbhog', 'letsupgrade', 2.5, 6.7, [1, 9.4]]

In [3]:
len(lst)

6

In [4]:
len(lst[0])

5

In [5]:
#2 function-> list([iterable])

In [1]:
lst1="Letsupgrade"

In [5]:
print(list(lst1))

['L', 'e', 't', 's', 'u', 'p', 'g', 'r', 'a', 'd', 'e']

In [6]:
#3 function->

In [15]:
lst=["Tejal","Warbhog","letsupgrade"]

list=["3.8,4,1,10"]

In [13]:
lst

['Tejal', 'Warbhog', 'letsupgrade']

In [17]:
print(max(lst))

letsupgrade

In [19]:
a = ["hello", "world", "Python"]
print(max(a))

world

In [26]:

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(max(a,b))

[1, 2, 3, 4, 5]

In [27]:
#4 funtion-> minimum

In [28]:
print(min(lst))

Tejal

In [29]:
print(min(a))

1

In [38]:
#5 funtion -> range

Mylist = [*range(10, 21)] 
  
print(Mylist)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# question 2

In [39]:
#Dictionary & its default funtions

In [43]:
#1 function-> all() dict

In [12]:
# Dictionary Built-in Functions
My_dict = {1,3,8,6,13,16,9,12,17,36,21,11,19}


print(all(My_dict))

True

In [13]:
#2 funtion-> any() dict

print(any(My_dict))

True

In [14]:
#3 funtion->len() dict

print(len(My_dict))

13

In [15]:
#4function-> sorted() dict

print(sorted(My_dict))

[1, 3, 6, 8, 9, 11, 12, 13, 16, 17, 19, 21, 36]

# question 3
# sets and its default function

In [16]:
#1 function-> add()

sets1 = {"apple","chickoo","banana", "cherry","pear"}

In [17]:
print(sets1)

{'apple', 'chickoo', 'pear', 'cherry', 'banana'}

In [19]:
sets1.add("orange")

print(sets1)

{'apple', 'orange', 'chickoo', 'pear', 'cherry', 'banana'}

In [2]:
#2 function-> len()


sets1 = {"apple","chickoo","banana", "cherry","pear"}

print(len(sets1))

5

In [3]:
#3 funtion-> copy()

sets1 = {"apple","chickoo","banana", "cherry","pear"}

x=sets1.copy()

print(x)

{'cherry', 'chickoo', 'pear', 'apple', 'banana'}

In [6]:
#4 function-> difference()

a = {"India", "Italy", "Paris","Tokyo"}
b = {"google", "microsoft", "apple","India"}

c = a.difference(b)

print(c)

{'Italy', 'Paris', 'Tokyo'}

In [14]:
#5 function-> difference_update()


a.difference_update(b)

print(a)

{'Italy', 'Paris', 'Tokyo'}

In [15]:
#6 function-> discard()

sets1.discard("apple")

print(sets1)

{'cherry', 'chickoo', 'banana', 'pear'}

In [16]:
#7 function-> intersection()

a = {"India", "Italy", "Paris","Tokyo"}
b = {"google", "microsoft", "apple","India"}

c=a.intersection(b)

print(c)

{'India'}

In [18]:
#8 funtion-> intersection_update()

a.intersection_update(b)
print(a)

{'India'}

In [19]:
#9 function-> isdisjoint()

x={"India","USA","Paris","London","Seattle"}
y={"Google","Microsoft","Jio","Apple"}

z=x.isdisjoint(y)

print(z)

True

In [20]:
#10 funtion->  issubset()

z=x.issubset(y)

print(z)

False

In [22]:
a={'a','r','y','b'}
b={'w','d','h','y','r','a','v','b'}

c=a.issubset(b)

print(c)

True

In [24]:
#11  function->  issuperset()

a={'w','d','h','y','r','a','v','b'}

b={'a','r','y','b'}

c=a.issuperset(b)

print(c)

True

In [28]:
#12 function-> pop()

language={"Hindi","Gujrati","Tamil","Marathi"}

language.pop()

print(language)

{'Gujrati', 'Hindi', 'Tamil'}

In [30]:
#13 function-> remove()

language.remove("Tamil")

print(language)

{'Gujrati', 'Hindi'}

In [31]:
#14 function-> symmetric_difference

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'google', 'banana', 'microsoft'}

In [32]:
#15 function-> symmetric_difference_update

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [34]:
#16 function-> union()

x={"India","USA","Paris","London","Seattle"}
y={"Google","Microsoft","Jio","Apple"}

z=x.union(y)

print(z)

{'Jio', 'USA', 'Microsoft', 'Google', 'London', 'India', 'Paris', 'Apple', 'Seattle'}

In [36]:
#17 function-> update()

x.update(y)

print(x)

{'Jio', 'USA', 'Microsoft', 'Google', 'London', 'India', 'Paris', 'Apple', 'Seattle'}

In [37]:
#18 funtion-> clear()

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

# Question 4
# Tuple and its default funtion

In [38]:
#1 method->  asseccing tuple

tuple1 = ("Oppo", "Apple", "Nokia","MI","Redme")
print(tuple1)

('Oppo', 'Apple', 'Nokia', 'MI', 'Redme')

In [39]:
print(tuple1[2])

Nokia

In [41]:
#2 methods->  Negative Indexing

print(tuple1[-1])

Redme

In [42]:
#3 method -> Range of Indexes

tuple2 = ("apple", "banana", "cherry", "orange", "kiwi", "mango","grapes")

print(tuple2[2:6])

('cherry', 'orange', 'kiwi', 'mango')

In [45]:
#4 method -> Range of Negative Indexes

print(tuple2[-3:-1])

('kiwi', 'mango')

In [47]:
#5 method-> Change Tuple Value


tuple2 = ("apple", "banana", "cherry", "orange", "kiwi", "mango","grapes")
a=list(tuple2)
a[2]="pear"
tuple2=tuple(a)

print(tuple2)

('apple', 'banana', 'pear', 'orange', 'kiwi', 'mango', 'grapes')

In [48]:
#6 methods -> loop in tuple

for x in tuple2:
    print(x)

apple
banana
pear
orange
kiwi
mango
grapes

In [49]:
#7 methods -> Check if Item Exists

tuple2 = ("apple", "banana", "cherry", "orange", "kiwi", "mango","grapes")

if "apple" in tuple2:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [50]:
#8 methods -> Length

print(len(tuple2))

7

In [51]:
#9 methods-> Join Two Tuples

tuple3 = tuple1 + tuple2
print(tuple3)

('Oppo', 'Apple', 'Nokia', 'MI', 'Redme', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'grapes')

In [55]:
#10 methods-> count()

a=tuple2.count("grapes")
print(a)

1

In [56]:
#11 methods-> index()

a=tuple2.index("grapes")
print(a)

6

# Question 5
# String and its default method

In [62]:
#1 methods->

a = "Letsupgrade everyone"
print(a[1])

e

In [64]:
#2 methods->Slicing

a = "Letsupgrade everyone"
print(a[2:7])

tsupg

In [65]:
#3 methods-> lenght

print(len(a))

20

In [66]:
#4 methods->strip()

print(a.strip())

Letsupgrade everyone

In [67]:
#5 methods-> lower()
print(a.lower())

letsupgrade everyone

In [68]:
#6 methods-> upper()

print(a.upper())

LETSUPGRADE EVERYONE

In [69]:
#7 method-> replace()

print(a.replace("L", "S"))

Setsupgrade everyone

In [70]:
#7 method-> String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [71]:
#8 method - isdigit()

txt = "398955"

x = txt.isdigit()

print(x)

True

In [72]:
#9 method -isalpha()

a = "TechX"

x = a.isalpha()

print(x)

True

In [73]:
#10 methods- rfind()

a = "Letsupgrade everyone"
x = a.rfind("grade")

print(x)

6